@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.woff') format('woff');
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:active,
*:focus,
*:focus-visible {
  outline: none;
}

body {
  background: #fff;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  transition: all 0.3s ease;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
